# maven
target
grpc-service/target
protobuf-commons/target
rest-service/target


# IntelliJ
.idea
*.iml
*.lst
# vscode
.vscode

# Eclipse
.project
.settings
.classpath
out

.profile
.DS_Store
.Python
*.pyc
eggs/
.lein-repl-history
gen/
frontend/
providers/